language: ruby
rvm:
  - 2.3.3
sudo: false
notifications:
  email: false
script: bundle exec rspec
env:
  - RAILS_VERSION='~> 4.0.0'
  - RAILS_VERSION='~> 4.1.0'
  - RAILS_VERSION='~> 4.2.0'
  - RAILS_VERSION='~> 5.0.0'
